/*
--------------------------------------------------

Metra Rail.com
Print Styles [print.css]

Joe Morrow [joe.morrow@acquitygroup.com]
7/21/2009

Copyright © 2009 Acquity Group LLC

--------------------------------------------------
*/

/* @group Global */
* {
	color: #000 !important;
}

a {
	text-decoration: none !important;
}
/* @end Global */

/* @group Hide */
#languageNav,
#quickSearch,
#utilityNav,
#topNav,
#secondaryNav,
#sideNav,
#footer,
#contentHeader .utilities,
#lineNav,
#lineActions,
#lineContent ul.nav,
.schedule .lineScheduleKey,
#lineOrder,
a.edit,
a.update,
a.continueLink,
a.cancel,
#checkout,
input.image,
#riderToolsContainer form {
	display: none !important;
}
/* @end Hide */

/* @group Unhide */
.schedule .lineScheduleScroll {
	height: auto !important;
}

.schedule .lineScheduleScroll th.hidden,
body.home #sideNav {
	display: block !important;
	height: auto !important;
	line-height: auto !important;
	overflow: auto !important;
	position: static !important;
	text-indent: 0 !important;
	width: auto !important;
}

.schedule .lineScheduleScroll th.hidden {
	display: table-cell !important;
}
/* @end Unhide */

/* @group Show */
body,
#header,
#container,
#body,
#content,
#lineBody,
#lineContent,
#cartOverview,
body.home #sideNav,
body.home #content,
body.home #home {
	background: transparent !important;
	margin: 0;
	padding: 0;
	width: auto;
}
/* @end Show */

/* @group Unshow */
.cufon-canvas canvas {
	display: none;
}
/* @end Unshow */

/* @group Branding */
#header .branding {
	padding: 0 0 20px 0;
}
/* @end Branding */

/* @group Schedule */
.schedule .lineScheduleScroll {
	background: transparent;
	overflow: auto;
	margin: 0;
	padding: 0;
	width: auto;
}

.schedule .lineScheduleScroll th.hidden {
	font-weight: bold;
}

.schedule .lineScheduleScroll tr.meridiem th.hidden {
	visibility: hidden;
}

.schedule .lineScheduleScroll tr.departure th.hidden {
	border-bottom: 1px solid #e1e1e1;
}
/* @end Schedule */

/* @group Side Navigation */
body.co #sideNav,
body.home #sideNav {
	background: transparent;
	clear: none;
	display: block !important;
	float: left;
	min-height: 0;
	padding: 0;
	width: auto;
}

#cartOverview .ticketOption,
body.home #myNextTrainsContainer {
	clear: none;
	float: left;
	margin-right: 20px;
	width: auto;
}
/* @end Side Navigation */

/* @group Error */
.error {
	margin-top: 0;
	margin-left: 0;
}
/* @end Error */

/* @group Civic Crisis / Service Alert */
#civicCrisis {
	clear: both;
	float: left;
	margin: 0;
	padding: 20px;
	width: auto;
}

#civicCrisis .header,
#civicCrisis .message {
	clear: both;
	float: none;
	position: static;
	width: auto;
}

#civicCrisis h2 span {
	display: none;
}

#civicCrisis h2,
#serviceAlert,
#serviceAdvisory {
	margin: 0;
}
/* @end Civic Crisis / Service Alert */

/* @group Full Schedule */
@page fullSchedule {
	size: landscape;
}

.fullSchedule {
	page: fullSchedule;
}

.fullSchedule * {
	float: none !important;
}

.fullSchedule .data {
	page-break-inside: avoid;
}

.fullSchedule .mainContent {
	page-break-after: always;
}

.fullSchedule .mainContent:last-child {
	page-break-after: avoid;
}
/* @end Full Schedule */